/* background grey: 434343 dark grey: 2a2a2a */

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    background: #434343;
    color: white;
    font-size: 1.5em;
}

header, footer {
    background: #2a2a2a;
    padding: 2em 0;
}

header h1 a {
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    clear: both;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline-block;
    margin: 0 1em;
}

.container {
    margin: 2em auto;
    max-width: 960px;
    display: block;
    text-align: left;
}

a {
    color: white;
}
